#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  vertical-align: top;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: auto;
  min-width: 400px;
  max-width: 600px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#algorithm {
  background-color: #46864cd9;
}

#proof {
  background-color: rgb(52, 116, 165);
}

#runtime {
  background-color: rgb(128, 49, 128);
}

.prev-button:disabled {
  color: rgb(100, 100, 100);
  background-color: black;
}
.next-button:disabled {
  color: rgb(100, 100, 100);
  background-color: black;
}